.counter-body-nos {
    min-height: 100%;
    width: 200px;

    display: flex;
    flex-flow: column;

    align-items: center;

    border-right: 3px solid #ECDBBA;
}

.counter-body-ellos {
    min-height: 100%;
    width: 200px;

    display: flex;
    flex-flow: column;

    align-items: center;
}

.counter-buttons-container {
    margin-top: 10vw;
}

.counter-points {
    margin-top: 5vw;
}

.counter-button {
    height: 65px;
    width: 65px;

    align-items: center;
    text-align: center;

    border-style: none;
    border-radius: 100%;
    background-color: #2D4263;

    margin: 0 0.7em 0 0.7em;

    color: #ECDBBA;

    font-size: 1em;
}

.counter-title {
    width: 100%;
    /* border-bottom:  3px solid #fafafa; */
    text-align: center;
    background-color: #2D4263;

    color: #ECDBBA;
}

.stage-indicator{
    width: 100%;
    text-align: center;
}