@font-face {
  font-family: 'Magnifika';
  src: url('/public/fonts/Magnifika.otf') format('truetype');
}

@font-face {
  font-family: 'MBF';
  src: url('/public/fonts/MBF-m.ttf') format('truetype');
}

.app {

  margin: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #191919;

  color: #ECDBBA;
}

.board {
  height: 100%;

  display: flex;
}

.footer {
  display: flex;
  flex-direction: column;

  align-items: center;

  padding: .5em;

  font-size: .7em;
}

.finished-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.restart-button {
  height: 30px;
}

a {
  color: darkslateblue;
}

.finished-message > h3 {
  font-size: 2em;
}

.finished-message > button {
  background-color: #2D4263;
  color: #ECDBBA;
}

h2, h3 {
  margin-block-start: 0em;
  margin-block-end: .1em;
}

.title {
  padding: 0;
  font-family: 'Magnifika';
  font-size: 1.2em;
  background-color: #191919;
  width: 100%;
  color: #ECDBBA;
  align-items: center;
  display: flex;
  justify-content: center;
  border-bottom: 3px solid #ECDBBA;
}

.footer {
  width: 100vw;
  background-color: #2D4263;
  border-top: 3px solid #ECDBBA;
}

.footer__title{
  /* font-family: MBF; */
  font-family: 'MBF';
  text-align: center;
  
  /* margin-bottom: 2rem; */
}

.footer__copy{
  display: block;
  color: #ECDBBA;
  text-align: center;
  font-size: 1rem;
  
}

a:link, :visited, :hover, :active { 
  text-decoration: none;
  color: #ECDBBA; 
}