@font-face {
  font-family: 'Magnifika';
  src: url('/public/fonts/Magnifika.otf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'MBF';
  src: url('/public/fonts/MBF-m.ttf') format('truetype');
  font-display: swap;
}

.app {

  margin: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #191919;

  color: #ECDBBA;
}

.board {
  height: 100%;

  display: flex;
}

.footer {
  display: flex;
  flex-direction: column;

  align-items: center;

  padding: .5em;

  font-size: .7em;
}

.finished-message {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.restart-button {
  background-color: #2D4263;
  color: #ECDBBA;
  height: 50px;
  border: none;
  font-weight: bold;
  font-size: 1em;
  border-radius: 50px;

}

a {
  color: darkslateblue;
}

.finished-message > h3 {
  font-size: 2em;
  text-align: center;
  justify-content: center;
}

.title {
  padding: 0;
  margin: 0;
  font-family: 'Magnifika';
  font-size: 1.2em;
  background-color: #191919;
  width: 100%;
  color: #ECDBBA;
  align-items: center;
  display: flex;
  justify-content: center;
  border-bottom: 3px solid #ECDBBA;
}

.footer {
  width: 100vw;
  background-color: #2D4263;
  border-top: 3px solid #ECDBBA;
}

h1, h3 {
  margin-block-start: 0;
  margin-block-end: 0;
}

.footer__title{
  /* font-family: MBF; */
  font-family: 'MBF';
  text-align: center;
  font-weight: bold;
  /* margin-bottom: 2rem; */
}

.footer__copy{
  display: block;
  color: #ECDBBA;
  text-align: center;
  font-size: 1rem;
  font-weight: normal;
  
}

a:link, :visited, :hover, :active { 
  text-decoration: none;
  color: #ECDBBA; 
}

.img-lost {
  height: 150px;
  width: auto;
}