@font-face {
  font-family: "Magnifika";
  src: url("/public/fonts/Magnifika.otf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "MBF";
  src: url("/public/fonts/MBF-m.ttf") format("truetype");
  font-display: swap;
}

.app {
  margin: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #191919;

  color: #ecdbba;
}

.board {
  height: 100%;

  display: flex;
}

.footer {
  
  display: flex;
  flex-direction: column;

  align-items: center;

  padding: 0.5em;

  font-size: 0.7em;
}

.finished-message {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.restart-button {
  background-color: #C84B31;
  color: #ecdbba;
  height: 50px;
  border: none;
  font-weight: bold;
  font-size: 1.3em;
  border-radius: 50px;
  cursor: pointer;
  width: 80%;
  margin: 0 auto;

}

a {
  color: darkslateblue;
}

.finished-message > h3 {
  font-size: 2em;
  text-align: center;
  justify-content: center;
}

.feedback-section {
  margin-top: .1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: .5em;
  width: 80%;
  max-width: 600px; /* Limita el ancho m치ximo */
  margin: 0 auto; /* Centra el contenedor */
}

.feedback-section h4 {
  font-size: 1.2em;
  margin-bottom: 0.5em;
  color: #ecdbba;
}

.feedback-section textarea {
  width: 100%;
  border-radius: 10px;
  border: 2px solid #ecdbba;
  background-color: #191919;
  color: #ecdbba;
  padding: 0.5em;
  font-size: 1em;
}

.submit-feedback-button {
  background-color: #ecdbba;
  color: #2d4263;
  border: none;
  border-radius: 20px;
  padding: 0.5em 1em;
  margin-top: 0.5em;
  cursor: pointer;
  font-size: 1em;
  font-weight: bold;
}

.submit-feedback-button:hover {
  background-color: #f0e1c0;
  color: #2d4283;
}

.title {
  padding: 0;
  margin: 0;
  font-family: "Magnifika";
  font-size: 1.2em;
  background-color: #191919;
  width: 100%;
  color: #ecdbba;
  align-items: center;
  display: flex;
  justify-content: center;
  border-bottom: 3px solid #ecdbba;
}

.footer {
  display: flex;
  justify-content: space-between; /* Espacio entre los elementos */
  align-items: center; /* Centra verticalmente */
  padding: 0em 20px; /* Espacio interno */
  width: 100%; /* Ocupa todo el ancho del contenedor */
  background-color: #2d4263; /* Color de fondo */
  border-top: 3px solid #ecdbba; /* Borde superior */
  box-sizing: border-box; /* Asegura que el padding no afecte al ancho */
  
}

.footer__copy,
.footer__version {
  display: flex; /* Permite que el contenido interno se alinee correctamente */
  align-items: center; /* Centra verticalmente */
  color: #ecdbba; /* Color de texto */
  margin: 0; /* Elimina m치rgenes innecesarios */
  font-size: .9rem;
  gap: 1rem; /* Espacio entre los elementos */
  height: 35px;
}

.footer__version {
  margin-left: auto; /* Empuja la versi칩n al extremo derecho */
  font-size: 1rem; /* Tama침o de fuente */
}

h1,
h3 {
  margin-block-start: 0;
  margin-block-end: 0;
}

.footer__title {
  /* font-family: MBF; */
  font-family: "MBF";
  text-align: center;
  font-weight: bold;
  /* margin-bottom: 2rem; */
}

/* .footer__copy {
  display: block;
  color: #ecdbba;
  text-align: center;
  font-size: 1rem;
  font-weight: normal;
} */

a:link,
:visited,
:hover,
:active {
  text-decoration: none;
  color: #ecdbba;
}

.img-lost {
  height: 150px;
  width: auto;
}