@font-face {
  font-family: "Magnifika";
  src: url("/public/fonts/Magnifika.otf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "MBF";
  src: url("/public/fonts/MBF-m.ttf") format("truetype");
  font-display: swap;
}

.app {
  margin: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #191919;

  color: #ecdbba;
}

.board {
  height: 100%;

  display: flex;
}

.footer {
  
  display: flex;
  flex-direction: column;

  align-items: center;

  padding: 0.5em;

  font-size: 0.7em;
}

.finished-message {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.restart-button {
  background-color: #BA0018;
  color: #ecdbba;
  height: 50px;
  border: none;
  font-weight: bold;
  font-size: 1.3em;
  border-radius: 50px;
  cursor: pointer;
  width: 80%;
  margin: 0 auto;

}

a {
  color: darkslateblue;
}

.finished-message > h3 {
  font-size: 2em;
  text-align: center;
  justify-content: center;
}

.feedback-section {
  margin-top: .1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: .5em;
  width: 80%;
  max-width: 600px; /* Limita el ancho máximo */
  margin: 0 auto; /* Centra el contenedor */
}

.feedback-section h4 {
  font-size: 1.2em;
  margin-bottom: 0.5em;
  color: #ecdbba;
}

.feedback-section textarea {
  width: 100%;
  border-radius: 10px;
  border: 2px solid #ecdbba;
  background-color: #191919;
  color: #ecdbba;
  padding: 0.5em;
  font-size: 1em;
}

.submit-feedback-button {
  background-color: #ecdbba;
  color: #2d4263;
  border: none;
  border-radius: 20px;
  padding: 0.5em 1em;
  margin-top: 0.5em;
  cursor: pointer;
  font-size: 1em;
  font-weight: bold;
}

.submit-feedback-button:hover {
  background-color: #f0e1c0;
}

.title {
  padding: 0;
  margin: 0;
  font-family: "Magnifika";
  font-size: 1.2em;
  background-color: #191919;
  width: 100%;
  color: #ecdbba;
  align-items: center;
  display: flex;
  justify-content: center;
  border-bottom: 3px solid #ecdbba;
}

.footer {
  position: relative;
  bottom: 0;
  width: 100vw;
  background-color: #2d4263;
  border-top: 3px solid #ecdbba;
}

h1,
h3 {
  margin-block-start: 0;
  margin-block-end: 0;
}

.footer__title {
  /* font-family: MBF; */
  font-family: "MBF";
  text-align: center;
  font-weight: bold;
  /* margin-bottom: 2rem; */
}

.footer__copy {
  display: block;
  color: #ecdbba;
  text-align: center;
  font-size: 1rem;
  font-weight: normal;
}

a:link,
:visited,
:hover,
:active {
  text-decoration: none;
  color: #ecdbba;
}

.img-lost {
  height: 150px;
  width: auto;
}
